<!doctype html>
<html ng-app="angularT3">
	<head>
		<title>T3 City</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

		<!-- CSS Styling to be Updated Later -->
        <link href="../boilerplate_lib/css/reset.css" rel="stylesheet"/>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet"/>
	</head>
	
	<!--Angular JS controller -->
	<body ng-controller="Main">
		<!-- Spinner to indicate loading -->
		<div id="loader">
			<div id="spin-wrap">
				<p id="spinner"></p>
				<p id="loading-text" class="lead text-center" ng-bind="loading"></p>
			</div>
		</div> 
		
	 <!-- three.js container -->
    <div id="webgl-container"></div>
	
	<!-- NAVIGATION -->
    <button class="btn" style="position: absolute"
            ng-show="!navBarVisible"
            ng-click="toggleNavBar()">
        Show bar
    </button>
	<div class="navbar navbar-inverse navbar-fixed-top" ng-show="navBarVisible">
        <div class="navbar-inner">
            <div class="container">

                <!-- title -->
                <a href="#" class="brand">Park Builder</a>

                <span class="divider-vertical"></span>

                <span class="divider-vertical"></span>

    
                <!-- hide bar -->
                <!--<ul class="nav">-->
                    <!--<li>-->
                        <a href="#" class="text-info btn btn-danger btn-mini" ng-click="toggleNavBar()">Hide Toolbar</a>
                    <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
	
	 <!-- info on screen display -->
    <div id="info" style="position: absolute; top: 0; right: 0;">
        <div class="bottom" id="fullscreen" ></div>
    </div>
	
	<!-- Library -->
    <script src="../boilerplate_lib/vendor/three.js/three.68.min.js"></script>
    <script src="../boilerplate_lib/vendor/three.js/Detector.js"></script>
    <script src="../boilerplate_lib/vendor/three.js/stats.min.js"></script>
    <script src="../boilerplate_lib/vendor/three.js/Coordinates.js"></script>


	 <!-- Shaders -->
    <script src="../boilerplate_lib/vendor/three.js/shaders/CopyShader.js"></script>
    <script src="../boilerplate_lib/vendor/three.js/shaders/FXAAShader.js"></script>
    <script src="../boilerplate_lib/vendor/three.js/shaders/RadialBlurShader.js"></script>

    <!-- Postprocessing -->
    <script src="../boilerplate_lib/vendor/three.js/postprocessing/EffectComposer.js"></script>
    <script src="../boilerplate_lib/vendor/three.js/postprocessing/RenderPass.js"></script>
    <script src="../boilerplate_lib/vendor/three.js/postprocessing/MaskPass.js"></script>
    <script src="../boilerplate_lib/vendor/three.js/postprocessing/ShaderPass.js"></script>
    <script src="../boilerplate_lib/vendor/three.js/postprocessing/DotScreenPass.js"></script>

    <!-- Extra -->
    <script src="../boilerplate_lib/vendor/extra/jquery-1.9.1.js"></script>
    <script src="../boilerplate_lib/vendor/extra/OrbitAndPanControls.js"></script>
    <script src="../boilerplate_lib/vendor/extra/dat.gui.min.js"></script>
    <script src="../boilerplate_lib/vendor/extra/tween.min.js"></script>
    <script src="../boilerplate_lib/vendor/extra/webaudio.js"></script>

    <script src="../boilerplate_lib/vendor/threex/THREEx.FullScreen.js"></script>
    <script src="../boilerplate_lib/vendor/threex/THREEx.WindowResize.js"></script>


 <!-- Angular -->
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular/ui-bootstrap-0.4.0.min.js"></script>
    <script src="components/angular/ui-bootstrap-tpls-0.4.0.min.js"></script>
    <script src="js/angularT3/app.js"></script>

    <!-- APE Physics Engine -->
    <script src="../boilerplate_lib/vendor/extra/ape.r0.0.1.js"></script>

    <!-- Boilerplate -->
	<script type="text/javascript" src="js/T3.js"></script>
	<script type="text/javascript" src="js/AssetLoader.js"></script>
	<script type="text/javascript" src="js/SoundLoader.js"></script>
	<script type="text/javascript" src="js/ObjectManager.js"></script>

    <script type="text/javascript" src="js/model/Object3D.js"></script>
    <script type="text/javascript" src="js/model/Coordinates.js"></script>
	<script type="text/javascript" src="js/model/Camera.js"></script>
	<script type="text/javascript" src="js/model/Mesh.js"></script>
	
	
	<script type="text/javascript" src="js/model/Tree.js"></script>
	
	 <!-- City -->
    <script type="text/javascript" src="js/model/Building.js"></script>
    <script type="text/javascript" src="js/model/building/primitive/Box.js"></script>
    <script type="text/javascript" src="js/model/building/primitive/Cylinder.js"></script>
    <script type="text/javascript" src="js/model/building/Block.js"></script>
    <script type="text/javascript" src="js/model/building/RoundBlock.js"></script>
    <script type="text/javascript" src="js/model/building/Classic.js"></script>
    <script type="text/javascript" src="js/model/building/Park.js"></script>
    <script type="text/javascript" src="js/model/Fountain.js"></script>
    <script type="text/javascript" src="js/model/particle/Water.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="js/controller/Keyboard.js"></script>
    <script type="text/javascript" src="js/controller/World.js"></script>

	<script type="text/javascript" src="js/Application.js"></script>
	
	</body>	
</html>